nav{
    background-color: rgb(255, 188, 188);
}

.ul {
    display: flex;
}

.ul li {
    margin: 0 3rem;
    list-style: none;
}

.ul li.active {
    background-color: #ddd;    
}

.ul li:hover {
    background-color: #777;
}

.ul li a{
    text-decoration: none;
}