nav{
   background-color: black;
   color: white;
}

.nav__ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin: 0;
    margin-bottom: 1rem;
}


.nav__ul li {
    list-style: none;
}

hr {
    width: 15px;
    margin: 0.2em 0;
    border: 1px solid white;
}

.nav__logo{
    font-family: 'Tai Heritage Pro', serif;
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.nav__favorites {
    text-decoration: none;
    color: white;
    font-family: futura-pt, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    line-height: 11.9833px;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 12px

}