nav {
  background-color: black;
  color: white;
  padding: 0rem 1.5rem;
}

.nav__ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.nav__ul li {
  list-style: none;
}

.nav__logo {
  font-family: "Tai Heritage Pro", serif;
  font-size: 1.5rem;
  color: white;
}

.nav__logo img {
  width: 35px;
  position: relative;
  bottom: -10px;
}

.nav__favorites {
  color: white;
  font-family: futura-pt, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 0.8rem;
  transition: color 0.2s ease;
}

.nav__favorites:hover{
  color: var(--red);
}


.nav__favorites.active{
  color: var(--red);
}

@media (max-width:576px) {
  nav {
    padding: 0rem 0.5rem;
  }

  .nav__logo {
    font-size: 1.3rem;
  }

}