.ingredients__container {
    margin-left: 10%;
    max-width: 60%;
    min-width: 250px;
    margin-bottom: 1rem;
    border-radius: 0.2rem;
    box-shadow: 0px 0px 4px 1px #8f8f8f98;
    padding: 1rem;
}

.ingredients__tittle {
    border-bottom: 1px solid var(--yellow);
    margin: 0;
    display: inline-block;
}

.ingredients__length{
    display: inline-block;
    margin-left: 1rem;
}

.ingredients__food {
    text-transform: capitalize;
    color: black;
}

.ingredients__ingredients{
    padding: 0.5rem 0;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
}
