:root {
  --recipe-width: 290px;
}

.recipes-global__container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
}

.recipe__container {
  font-family: var(--font-family-Poppins);
  position: relative;
  width: var(--recipe-width);
  margin: 32px 16px;
  background-color: #f0f9f9;
  transition: all ease 0.15s;
  cursor: pointer;
}

.recipe__container:hover {
  transform: translate(-1px, -1px);
  box-shadow: 5px 5px 0 var(--yellow);
}

.recipe__image {
  width: var(--recipe-width);
  height: var(--recipe-width);
}

.recipe__text-container {
  padding: 0 16px 6px 16px;
  display: flex;
  flex-direction: column;
}

.recipe__meal-type {
  font-size: 0.7em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  color: #b5460f;
}

.recipe__tittle {
  font-size: 1.3rem;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 40px;
}

.recipe__footer {
  font-size: 14px;
}

.recipe__cuisine-type {
  left: 1.5em;
  color: #555;
  position: absolute;
  bottom: 5px;
}

@media (max-width: 768px) {
  :root {
    --recipe-width: 230px;
  }
}

@media (max-width: 576px) {
  :root {
    --recipe-width: 270px;
  }
  .recipe__tittle {
    font-size: 1.2rem;
  }
}

@media (max-width: 300px) {
  :root {
    --recipe-width: 200px;
  }
}
