.recipe__container {
    /* border: 1px solid black; */
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 13em;
    margin: 1em 10px;
    background-color: white;
}

img {
    width: 100%;
}


.recipe__text-container{
    padding: 0 1em 0.3em 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.recipe__meal-type{
    font-size: 0.7em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    color: #b5460f;
}

.recipe__tittle{
    font-size: 1.4em;
    line-height: 1.3em;
    letter-spacing: normal;
    font-weight: 600;
    margin-top: 0.3em;
    margin-bottom: 1.5em;
}

.recipe__footer {
    font-size: 0.7em;
}

.recipe__cuisine-type{
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
    color: #555;
    text-transform: uppercase;
}


img.heart-icon{
    width: 2em;
    bottom: 0.5em;
    position: absolute;
    right: 0.5em;
}