.recipe__container {
    border: 1px solid black;
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 15em;
}

img {
    width: 100%;
}

img.heart-icon{
    width: 2em;
    position: relative;
    bottom: 0.1em;
}

.recipe__text-container{
    padding: 0 1em 0.3em 1em;
}

.recipe__meal-type{
    font-size: 0.7em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    color: #b5460f;
}

.recipe__tittle{
    font-size: 1.4em;
    line-height: 1.3em;
    letter-spacing: normal;
    font-weight: 600;
    margin-top: 0.3em;
}

.recipe__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 0.8em;
    color: #555;
}