:root {
  --bnt-width: 10px;
}

.searh__container {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 1rem 0;
}

.search__btn,
.search__input {
  background: none;
  padding: 10px;
}

.search__btn {
  border: none;
  margin-right: -35px;
  cursor: pointer;
  z-index: 9;
}

.search__btn img {
  width: 14px;
  position: relative;
  bottom: -2px;
}

.search__input {
  border: 1px solid #707070;
  outline: none;
  padding-left: 40px;
  width: 50%;
  transition: border 0.3s ease;
  font-size: 0.9rem;
  font-family: var(--font-family-Poppins);
  font-weight: 500;
}

.search__input:focus {
  border: 1px solid var(--yellow-dark);
}

@media (max-width: 768px) {
  .search__input {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .search__input {
    width: 90%;
  }
}
